@charset "UTF=8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body, html{
    background-color: lightgray;
}

header{
    background-color:white
}

header > h1{
    padding: 10px;
    text-align: center;
}

header img{
    margin: auto;
    width: 100%;
    display: flex;
}

header > img.logo{
    width: 65vw;
}

span#burger{
    background-color:black;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burger:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu > ul{
    list-style: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: white; 
    color: black;
    border-top:2px solid rgb(214, 214, 214) ;
}

menu > ul > li > a:hover{
    color: white;
    background-color: rgb(88, 88, 88);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius:10px;
    margin-top: 10px;
}

article{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

article > h2{
    padding-bottom: 20px;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

#perfil img{
    width:300px; 
}

footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    font-family: 'roboto', sans-serif;
    color:black;
    background-color:white;
    padding: 25px;
    text-align: center;
    margin: auto;
    width: auto;
} 
